.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.nav {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 30%;
    box-shadow: var(--mantine-shadow-md);
  }
}

.img {
  margin-left: 75px;
  @media (max-width: $mantine-breakpoint-sm) {
    margin-left: 95px;
    box-shadow: var(--mantine-shadow-md);
  }
}

.menuItem {
  text-align: center;
}
