.header {
  display: flex;
  align-items: center;
  background-color: transparent;
  @media (max-width: $mantine-breakpoint-sm) {
    border: none;
  }
  justify-content: space-between;
}

.img {
  padding-left: 75px;
  @media (max-width: $mantine-breakpoint-sm) {
    padding-right: 10px;
    padding-left: 0px;
  }
}

.nav {
  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 30%;
    box-shadow: var(--mantine-shadow-md);
  }
}

.main {
  background-color: var(--mantine-color-gray-1);
}
